.auth-page{
    background-color: #F5F5F5;


}
.auth{
    display: flex;
    padding-top: 100px;
    max-height: 1000px;
}
.login-form{
    position: relative;
    top:150px;
    left: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    max-height: 400px;
}
.login-title{
    font-size: 20px;
    display: flex;
    align-self: center;
}
.avatar{
    align-self: center;
}

.login-gif{
    position: relative;
    left: 250px;
    max-height: 1000px;
}
.login-gif img{
    width: 700px;
    height: 700px;
}

.navLink-auth{
    color: white;
    display: flex;
    align-self: center;
    text-decoration: none;

}
.forgot-pass{
    display: flex;
    justify-content: space-between;
}
.forgot-pass a{
    color: #8BC34A;
    text-decoration: none;
    border-bottom: 1px solid #8BC34A;
}
.forgot-pass a:hover{
    color: #6c963b;
    border-bottom: 1px solid #6c963b;

}
.login-gif__img{
    position: relative;
    z-index: 1;

}
.login-gif__img-shadow{
    position: relative;
    bottom:712px;
    left: 10px;
    z-index: 0;
    opacity: 0.75;
}