body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navLink{
  text-decoration: none;
  color: black;
}

.call-chart, .logs{
  margin-top: 30px;
  margin-bottom: 30px;

}

.layout{
  height: 100vh;
  background-color: #F5F5F5;
}
.button-group{
  display: flex;
  justify-content: center;

}